/* App */
.container {
  position: relative;
  background-color: hsl(240, 78%, 98%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Pricing */
.container-pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1-pricing {
  color: hsl(233, 13%, 49%);
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17rem;
  margin: 3rem 0;
  font-weight: bold;
  color: hsl(234, 14%, 74%);
}

.toggle {
  position: relative;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  border-radius: 25px;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.dot {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
}

/* CardsContainer */

.container-CardsContainer {
  display: flex;
}

/* Card */

.container-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 25rem;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0px 1px 3px #888888;
  color: hsl(232, 13%, 33%);
}

.container-Card > p {
  font-size: 1rem;
}

.container-Card > h1 {
  font-size: 4rem;
  border-bottom: 1px solid hsl(234, 14%, 74%);
  width: 100%;
  text-align: center;
  padding: 2rem 0rem;
}

.container-Card > h1 span {
  font-size: 3rem;
}

.div-container-Card {
  font-size: 1.5rem;
  border-bottom: 1px solid hsl(234, 14%, 74%);
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
}

/* Button */

.button {
  cursor: pointer;
  border-radius: 25px;
  margin-top: 2rem;
  font-size: 1rem;
  padding: 1rem 6rem;
  color: white;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.button:hover {
  border: 1px solid hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
  background-image: none;
  background-color: white;
}

.pro-button {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 25px;
  margin-top: 2rem;
  font-size: 1rem;
  padding: 1rem 6rem;
  color: hsl(237, 63%, 64%);
  background-color: white;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.pro-button:hover {
  border: 1px solid white;
  color: white;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

@media screen and (max-width: 760px) {
  .container {
    padding-top: 5rem;
    width: 100vw;
    height: 100%;
  }

  .container-CardsContainer {
    display: flex;
    flex-direction: column;
  }

  .container-Card {
    margin: 2rem 0;
    width: 20rem;
    padding: 1rem;
  }

  .button {
    font-size: 1rem;
    padding: 1rem 5rem;
  }

  .pro-button {
    font-size: 1rem;
    padding: 1rem 5rem;
  }
}
